@font-face {font-family: 'PT Sans'; 
	src: url('../fonts/pts55f_w.eot'); 
	src: local('PT Sans'), url('PTS55F_W.eot?#iefix') format('embedded-opentype'), url('PTS55F_W.woff') format('woff'),url('PTS55F_W.ttf') format('truetype'), url('PTS55F_W.svg#PTSans-Regular') format('svg');}
	
.body{
	font-family: 'PT Sans',serif;
	font-size: 15px;
}	

.layout_type_home {
  width: 100%;
  height: 100%;
  position: absolute;
  min-height: 600px;
  overflow: visible;
  padding: 0;
  z-index: 2;
}
.layout_type_home__content{
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 100%;
	padding-top: 35px;
}
/*----------------------------------------------*/
.main-content{}
.section{
	margin: 0 auto;
	width: 1200px;
	padding-top: 35px;
}
.main-content--firstsection{
  background: url(../images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  
}


.main-content--thirdsection{
  background: url(../images/bg-3.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}


.main-content--secondsection{
	background: url(../images/bg-2.png); 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding: 0;
}
	/*--------------------------------------------------*/
.contentZone{
	 width: 40%;
	 margin-top: 150px;
}
.contentZone__item{
	position: absolute;
    right: 0;
    width: 460px;   
}
.contentZone__item__header{
	font-size: 42px;
}
.contentZone__item__p{
	line-height: 35px;
}