/* font-family: "SegoeUIRegular"; */
@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
    font-family: "SegoeUIBold";
    src: url("../fonts/SegoeUIBold.eot");
    src: url("../fonts/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIBold.woff") format("woff"),
    url("../fonts/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "SegoeUIItalic"; */
@font-face {
    font-family: "SegoeUIItalic";
    src: url("../fonts/SegoeUIItalic.eot");
    src: url("../fonts/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIItalic.woff") format("woff"),
    url("../fonts/SegoeUIItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.form{
	margin: 0;
}

.leftMenu__menu__link,.copyright__link{
	color: #fff !important;
}

.pre-footer{
	background: #91b1c1;
	color: #fff;
}
.insideContent__pre-footer{
	padding-top: 10px;
}
.pre-footer__h2{
	font-weight: normal;
}

.insideFooter{
	
	color: #fff;
	background-color: #5a7a8b;
}

.insideContent__footer{
	padding-top: 0px;
}

.form__table__input{
	border: none;
	background: #fff;
	padding: 10px;
	margin: 10px;
	margin-left: 0;
	color: #91b1c1;
	font-size: 12px;
	width: 200px;
	
}

.form__table__btn{
	border: none;
	background: #5a7a8b;
	padding: 10px;
	color: #fff;
	margin: 10px;
	font-size: 16px;
	margin-left: 0;
	margin-bottom: 40px;

}

.form__table__textarea{
	border: none;
	background: #fff;
	padding: 10px;
	margin: 10px;
	color: #91b1c1;
	font-size: 12px;
	width: 400px;
	height: 89px;
}

.insideContent__well{
	font-family: "SegoeUIItalic",serif;
	background: #91b1c1;
	padding: 20px;
	color: #fff;
}
.insideContent__h3{
	font-family: 'SegoeUIRegular',serif;
	font-weight: normal;
	font-size: 18px;
}

.insideContent__hr{
	border-bottom: 1px solid #91b1c1;
	width: 100%;
	margin-top: 00px;
	margin-bottom: 30px;
}

.insideContent__p{
	line-height: 25px;
}
.insideContent__h1{
	font-family: 'SegoeUIRegular',serif;
	font-weight: normal;
}

.insideContent__h2{
	font-family: 'SegoeUIRegular',serif;
	font-weight: normal;
	font-size: 25px;
}

.textblocks{
		position:relative;
		display:block;
		width: 100%;
		z-index:9;
		color: #000;
		bottom:0px;
		clear: both;
		padding:0;
		margin: 0px;
		padding-bottom: 10px;
		line-height: 25px;
}

.clear{
    clear: both;
}

.textblocks__col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	padding:10px; 
}
.textblocks__col:first-child { margin-left: 0; }

.textblocks__col--_1_of_2 {
	width: 47%;
}

.textblocks__col--_1_of_3 {
	width: 30%;
}

.textblocks__col--red{
	background: #e11c2a;
	color: #ffffff;
}

.second-step{
	background: #e0e3f4;
}